---
Language: Cpp
BasedOnStyle: Google
UseTab: Always
TabWidth: 2
ColumnLimit: 80
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AlignAfterOpenBracket: true
AllowAllParametersOfDeclarationOnNextLine: true
BinPackArguments: false
BinPackParameters: OnePerLine
---